<h2 class="cart-title">Carrrinho</h2>
<div *ngIf="cartContents.length > 0; else noProducts " class="cart-content">
    <ul>
        <li *ngFor="let itemCarrinho of cartContents">
            <img [src]="itemCarrinho.imagem">
            <p>{{itemCarrinho.descricao}}</p>
            <p>Preço: {{itemCarrinho.preco | currency: "BRL"}}</p>
            <label>
                Quantidade:
                <input type="number" [(ngModel)]="itemCarrinho.quantidade" (change)="sumTotal()">
            </label>
            <button class="remove-button" (click)="removeProductCart(itemCarrinho.id)"><i class="fa-solid fa-xmark"></i></button>
        </li>
    </ul>
    <h2 class="cart-total">Total: {{total | currency: "BRL"}}</h2>
    <button class="buy-button" (click)="buy()">Comprar</button>
</div>
<ng-template #noProducts>Nenhum produto foi adicionado ao carrinho</ng-template>
